<div class="login">
    <div class="box">
        <div class="geral">
            <div class="img">
                <img src="../../assets/img/logo_size_invert.jpg">
            </div>
            <p class="titulo">Cadastro Pessoa Física</p>
            <div class="form">
                <form [formGroup]="form" novalidate >
                    <mat-list>
                        <mat-list-item>
                            <div>
                                <input class="teste" placeholder="CNPJ" formControlName="cnpj" mascara="99.999.999/9999-99" [ngClass]="{'inputInvalido' : form.controls['cnpj'].invalid && form.controls['cnpj'].touched}" (keyup)="changeStatus('cnpj')">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input class="teste" placeholder="CPF" formControlName="cpf" mascara="999.999.999-99" [ngClass]="{'inputInvalido' : form.controls['cpf'].invalid && form.controls['cpf'].touched}" (keyup)="changeStatus('cpf')">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input class="teste" placeholder="Nome" formControlName="nome" [ngClass]="{'inputInvalido' : form.controls['nome'].invalid && form.controls['nome'].touched}">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input class="teste" placeholder="Email" formControlName="email" [ngClass]="{'inputInvalido' : form.controls['email'].invalid && form.controls['email'].touched}">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input type="password" class="teste" placeholder="Senha" formControlName="senha" [ngClass]="{'inputInvalido' : form.controls['senha'].invalid && form.controls['senha'].touched}">
                            </div>
                            <span matTooltip="Senha deve ter ao menos 6 caracteres.">
                                <mat-icon style="color: white; font-size: 20px; margin-left: 50%;">help</mat-icon>
                            </span>
                        </mat-list-item>
                        <div class="btns" >
                            <button (click)='cadastrarPf()'>Cadastrar</button>
                            <a routerLink='/login'> <mat-icon style="color: white; font-size: 30px;;">home</mat-icon></a>
                        </div>
                    </mat-list>
                </form>
            </div>
        </div>
    </div>
</div>
