<mat-toolbar style="background-color: #0741AD;">
    <p style="color: white; font-size: 55%;">Desenvolvido por: Filipe Silva</p>
    <span class="toolbar-spacer"></span>
    <div class="contatos">
        <span style="color: white; font-size: 55%;">Contatos: </span>
        <a [href]="navegar('in')" target="blank" style="cursor: pointer;" >
            <img style="margin-left: 10px; margin-right: 10px;" src="../../assets/img/icons8-linkedin-24.png">
        </a>
        <a [href]="navegar('git')" target="blank" style="cursor: pointer;" >
            <img src="../../assets/img/icons8-github-24.png">
        </a>
    </div>
</mat-toolbar>
