
<div class="login">
    <div class="box">
        <div class="geral">
            <div class="img">
                <img src="../../assets/img/logo_size_invert.jpg">
            </div>
            <p class="titulo">Cadastro Pessoa Jurídica</p>
            <div class="form">
                <form [formGroup]='form' novalidate>
                    <mat-list>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['cnpj'].invalid && form.controls['cnpj'].touched}" class="teste" placeholder="CNPJ" formControlName="cnpj" (keyup)="changeStatus('cnpj')" mascara="99.999.999/9999-99">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['razaoSocial'].invalid && form.controls['razaoSocial'].touched}" class="teste" placeholder="Razão Social" formControlName="razaoSocial">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['cpf'].invalid && form.controls['cpf'].touched}" class="teste" placeholder="CPF" formControlName="cpf" mascara="999.999.999-99" (keyup)="changeStatus('cpf')">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['nome'].invalid && form.controls['nome'].touched}" class="teste" placeholder="Nome" formControlName="nome">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['email'].invalid && form.controls['email'].touched}" class="teste" placeholder="E-Mail" formControlName="email">
                            </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div>
                                <input [ngClass]="{'inputInvalido' : form.controls['senha'].invalid && form.controls['senha'].touched}" type="password" class="teste" placeholder="Senha" formControlName="senha">
                            </div>
                            <span matTooltip="Senha deve ter ao menos 6 caracteres.">
                                <mat-icon style="color: white; font-size: 20px; margin-left: 50%;">help</mat-icon>
                            </span>
                        </mat-list-item>
                        <div class="btns">
                            <button (click)="cadastrarPj()" >Cadastrar</button>
                            <a routerLink='/login'> <mat-icon style="color: white; font-size: 30px;;">home</mat-icon></a>
                        </div>
                    </mat-list>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
