form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 40%;
}

.box {
    border-radius: 61px;
    background: #0741AD;
    box-shadow:  28px 28px 56px #031e50,
                -28px -28px 56px #0b64ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 45%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0741AD;
    height: 100vh;
    margin: 0%;   
    padding: 0%;
}

button {
    margin-top: 5vh;
    
    color: white;
    border-radius: 14px;
    border-color: white;
    background: #0741AD;
    box-shadow:  10px 10px 20px #031a45,
                -10px -10px 20px #0b68ff;
    height: 100%;
    width: 8vw;
    cursor: pointer;
}

.teste {
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    background: transparent;
    width: 100%;
    max-width: 100%;
}

.teste2 {
    width: 90%;
}

.inputInvalido{
    border-bottom: 2px solid red;
}

::placeholder {
    color: white;
}