<div class="login">
    <div class="box">
        <img src="../../assets/img/logo_size_invert.jpg">
        <form [formGroup]="form" novalidate>
            <mat-list>
                <mat-list-item>
                    <div>
                        <input class="teste" placeholder="Email" [ngClass]="{'inputInvalido' : form.controls['email'].invalid && form.controls['email'].touched}"  formControlName="email">
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div>
                        <input type="password"  class="teste" [ngClass]="{'inputInvalido' : form.controls['senha'].invalid && form.controls['senha'].touched}" placeholder="Senha" formControlName="senha">
                    </div>
                    <span matTooltip="A senha deve conter ao menos 6 caracteres.">
                        <mat-icon style="color: white; font-size: 20px; margin-left: 50%;">help</mat-icon>
                    </span>
                </mat-list-item>
                <mat-list-item fxLayoutAlign="center">
                    <button (click)="logar()" >Entrar</button>
                </mat-list-item>
                <mat-list-item style="margin-top: 5vh;" fxLayoutAlign="center">
                    <a mat-button style="color: white;" routerLink="/cadastro-pf">Cadastrar PF</a>
                    <a mat-button style="color: white;" routerLink="/cadastro-pj">Cadastrar PJ</a>
                </mat-list-item>
            </mat-list>
        </form>
    </div>
</div>
<app-footer></app-footer>
